# Data and Processing
data_preprocessing/data/
data_preprocessing/processed_custom/
data_preprocessing/processed_physionet/
data_preprocessing/processed/
sleep-accel-data/

# Models and Inference Outputs
server/outputs/
outputs/
output/
client/src/data/

# Ignore large csv files
*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
.pytest_cache/

*.zip